{% extends "base.html" %}
{% block title %}{{ ticker }}{% endblock %}
{% block content %}
<div class="container text-center">
    <h1>{{ meta.name }}({{ ticker }})</h1>
    <p>Description: {{ meta.description }}</p>
    <h4>Today's Price data for {{ ticker }}</h4>
    <p>Open: {{ price.open }}</p>
    <p>High: {{ price.high }}</p>
    <p>Low: {{ price.low }}</p>
    <p>Close: {{ price.close }}</p>
    <p> Did you want to <a href='{% url "contact" %}'>buy?</a></p>
    
</div>  

{% endblock content %}    



